<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Colegio Marcelino Champagnat - Docentes de Secundaria</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <section class="section container" id="docentes">
    <h2>Con los mejores docentes de Secundaria</h2>

    <div class="teacher-grid">
      <div class="teacher">
        <img src="/img/profe1.jpeg" alt="Profesor 1">
        <h3>Lic. Bismarck Saavedra Delgadillo</h3>
        <p><strong>Área:</strong> Tecnica</p>
        
      </div>

      <div class="teacher">
        <img src="/img/profe2.jpeg" alt="Docente de Lenguaje">
        <h3>Lic. Jimmy Verdún Guereca</h3>
        <p><strong>Área:</strong> Tecnica</p>
        
      </div>

      <div class="teacher">
        <img src="/img/profe3.jpeg" alt="Docente de Inglés">
        <h3>Lic. Ines Coya Núñez</h3>
        <p><strong>Área:</strong> Religión</p>
        
      </div>

      <div class="teacher">
        <img src="/img/profe3.jpeg" alt="Docente de Física">
        <h3>Prof. Laura Méndez</h3>
        <p><strong>Área:</strong> Física</p>
        
      </div>

      <div class="teacher">
        <img src="/img/profe5.jpeg" alt="Docente de Química">
        <h3>Lic. Erlinda Gareca Tola</h3>
        <p><strong>Área:</strong> Química</p>
        
      </div>

      <div class="teacher">
        <img src="/img/profe6.jpeg" alt="Docente de Biología">
        <h3>Lic.Julio Clodys Vilar </h3>
        <p><strong>Área:</strong> Sociales</p>
        
      </div>

      <div class="teacher">
        <img src="/img/profe7.jpeg" alt="Docente de Geografía">
        <h3>lic. Vicenta Sanchez Suarez</h3>
        <p><strong>Área:</strong>Artes plasticas y visuales</p>
        
      </div>

      <div class="teacher">
        <img src="/img/profe8.jpeg" alt="Docente de Historia">
        <h3>lic. Herlan Martinez escudero</h3>
        <p><strong>Área:</strong> Primaria</p>
       
      </div>

      <div class="teacher">
        <img src="/img/profe9.jpeg" alt="Docente de Educación Cívica">
        <h3>Prof. Betty Bautista Vargas</h3>
        <p><strong>Área:</strong> Primaria</p>
        
      </div>

      <div class="teacher">
        <img src="/img/profe10.jpeg" alt="Docente de Religión">
        <h3>Prof. David Mansilla Cervantes </h3>
        <p><strong>Área:</strong> Primaria</p>
        
      </div>

      <div class="teacher">
        <img src="/img/profe12.jpeg" alt="Docente de Arte">
        <h3>Prof. fanny Zeballos </h3>
        <p><strong>Área:</strong> Primaria</p>
        
      </div>

      <div class="teacher">
        <img src="/img/profe13.jpeg" alt="Docente de Música">
        <h3>Prof.Liliana Paco</h3>
        <p><strong>Área:</strong> Matematicas</p>
        
      </div>

      
    </div>

    <a href="/" class="btn volver">Volver a inicio</a>
  </section>

  <script>
    document.querySelectorAll('.teacher').forEach(card => {
      card.addEventListener('mouseenter', () => card.classList.add('hover'));
      card.addEventListener('mouseleave', () => card.classList.remove('hover'));
    });
  </script>
</body>
</html>
